<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [62]:
# Import libraries here.

import numpy as np
import pandas as pd
import os as os

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [63]:
# Create an output folder.
os.mkdir('output')

# Create file path variable.
path = ('output')

# Create a files variable that contains all of our data files.
files = os.listdir(path)

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [80]:
# Read in data from your city from January 1st.

jan_1 = pd.read_excel('data/Jan 1.xlsx',sheet_name='Washington, DC')

In [81]:
# Check that df was created appropriately / explore

print(jan_1.head(5))
print(jan_1.describe())

   prodcode  price_eu  weight_kg  quantity
0      4011  1.434955   1.125474       182
1      4404  2.882103   1.407820       363
2      4272  0.547080   4.765729       309
3      4131  2.030937   6.794560       354
4      4240  1.658934   2.978144       347
          prodcode    price_eu   weight_kg    quantity
count   149.000000  149.000000  149.000000  149.000000
mean   4214.885906    1.828090    5.350899  314.369128
std     334.081122    0.732734    2.630500  118.737921
min    3302.000000    0.528804    1.054650  101.000000
25%    4030.000000    1.250885    3.297392  209.000000
50%    4134.000000    1.790815    5.202618  323.000000
75%    4323.000000    2.431986    7.881181  424.000000
max    4958.000000    2.998810    9.911517  499.000000

In [66]:
# Count unique values in col 'prodcode'

jan_1['prodcode'].value_counts()

3302    12
4062    10
4404     9
4309     9
4159     9
4081     8
4796     8
4011     8
4323     8
4078     6
4030     6
4958     5
4412     5
4131     5
4272     4
4225     4
4134     4
4012     3
4240     3
4650     3
Name: prodcode, dtype: int64

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [67]:
# Convert price from EU to USD

jan_1['price_usd'] = jan_1['price_eu'] * 1.1
jan_1['price_usd']

0      2.252955
1      3.001334
2      2.400748
3      2.576964
4      1.983123
         ...
124    2.010444
125    2.709552
126    1.012167
127    1.662098
128    1.846835
Name: price_usd, Length: 129, dtype: float64

In [68]:
# Convert weight from KG to LB

jan_1['weight_lb'] = jan_1['weight_kg']
jan_1['weight_lb']

0      8.812961
1      9.331372
2      8.937798
3      7.067682
4      9.551503
         ...
124    7.922745
125    5.839095
126    9.225959
127    2.667668
128    3.539966
Name: weight_lb, Length: 129, dtype: float64

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [69]:
# Create new df from 'plu-codes.csv'

plu = pd.read_csv("plu-codes.csv")
plu.head(1)

        product  plu_code
0  Apple (Fuji)      4131

In [70]:
# Create new df from the merge of jan_1 and plu dfs (on product code)

merge_prods = jan_1.merge(plu, left_on='prodcode', right_on='plu_code')
merge_prods.head(3).T

                 0        1        2
prodcode      4159     4159     4159
price_eu   2.04814  2.12496  1.83422
weight_kg  8.81296  1.90649  7.78823
quantity       138      319      229
price_usd  2.25296  2.33746  2.01764
weight_lb  8.81296  1.90649  7.78823
product      Onion    Onion    Onion
plu_code      4159     4159     4159

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [76]:
# Drop price EU and weight KG

merge_prods.drop(columns = ['price_eu'])
merge_prods.drop(columns = ['weight_kg'])
merge_prods.drop(columns = ['plu_code'])

,prodcode,price_eu,weight_kg,quantity,price_usd,weight_lb,product
0,4159,2.048141,8.812961,138,2.252955,8.812961,Onion
1,4159,2.124963,1.906494,319,2.337459,1.906494,Onion
2,4159,1.834220,7.788227,229,2.017642,7.788227,Onion
3,4159,1.281120,4.506284,164,1.409232,4.506284,Onion
4,4159,1.162582,8.225310,447,1.278840,8.225310,Onion
...,...,...,...,...,...,...,...
124,4134,2.155794,4.796605,415,2.371374,4.796605,Apple (Gala)
125,4134,0.920152,9.225959,395,1.012167,9.225959,Apple (Gala)
126,4012,2.049983,2.323435,240,2.254982,2.323435,Orange
127,4012,1.666332,1.934260,123,1.832965,1.934260,Orange
128,4012,1.517081,1.303550,194,1.668790,1.303550,Orange

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [77]:
# Add date column to merge_prods data

merge_prods['date'] = 'Jan 1'

In [78]:
# Check merge_prods df to see that date was added 

merge_prods

,prodcode,price_eu,weight_kg,quantity,price_usd,weight_lb,product,plu_code,date
0,4159,2.048141,8.812961,138,2.252955,8.812961,Onion,4159,Jan 1
1,4159,2.124963,1.906494,319,2.337459,1.906494,Onion,4159,Jan 1
2,4159,1.834220,7.788227,229,2.017642,7.788227,Onion,4159,Jan 1
3,4159,1.281120,4.506284,164,1.409232,4.506284,Onion,4159,Jan 1
4,4159,1.162582,8.225310,447,1.278840,8.225310,Onion,4159,Jan 1
...,...,...,...,...,...,...,...,...,...
124,4134,2.155794,4.796605,415,2.371374,4.796605,Apple (Gala),4134,Jan 1
125,4134,0.920152,9.225959,395,1.012167,9.225959,Apple (Gala),4134,Jan 1
126,4012,2.049983,2.323435,240,2.254982,2.323435,Orange,4012,Jan 1
127,4012,1.666332,1.934260,123,1.832965,1.934260,Orange,4012,Jan 1
128,4012,1.517081,1.303550,194,1.668790,1.303550,Orange,4012,Jan 1

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [ ]:
def process_data(file, city):
    new_df =

Test your function out on a new file and city!

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [ ]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [ ]:
# Loop through city_dict and carry out Step 6 here.
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).